.new-review-form .star {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.new-review-form .star.active {
    color: black;
  }

.new-review-form {
    background-color: white;
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
}
