.new-review-form .star {
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.new-review-form .star.active {
    color: black;
  }

.new-review-form {
    background-color: white;
    border: 1px solid black;
    position: fixed;
    top: 35%;
    left: 45%;
}

.review-textarea {
    width: 200px;
    height: 100px;
    resize: none;
}
.container {
    padding: 15px;
}
.rating {
    padding-bottom: 5px;
}
.container button {
    background-color: #ff5a5f;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
}
